{% set grains_monitor = salt['pillar.get'](
    'grains_monitor',
    {
        'unit_name': 'grains-monitor-changes',
        'watch_paths': [
            '/etc/salt/grains',
            '/etc/salt/grains.d',
        ],
        'service_user': 'root', 
        'timeout': 60
    }
) %}